<html>
<head>
 <link rel="stylesheet" href="../stylesheets/livesearch2.css" />
    <script src="../javascript/livesearch.js"></script>
</head>
<body>
<div class="container" style="padding:50px 250px;">
    <form id="jobsearchform" method="post">
        <div class="form-group">
            <input type="hidden" id="hiddensearch">
            <input type="text"  class="form-control_input-lg"  id="txt-search" name="searchinput" placeholder="Type your search characters">
            <button id="sh" type='button' onclick="loadDoc()" style="position: absolute; right: 300px;top:50px" Value="GO">Go</button>
        </div>
        <h2>Result &nbsp;&nbsp;
            <img src="../images/Filter.png" ></h2>

        <h2>
            <img class="share" src="../images/icons8-Share-50.png">
        </h2>


    </form>
    <div id=resultbox style="border:1px solid black;width:700px;height:300px;overflow:scroll;">
        <div id="filter-records"></div>
    </div>
    <div id="left"></div>
    <div id="right"></div>
    <div id="outerbox"><P></P>
    </div>
    <div id="sliderbox">
        <img src="../images/businessmen-42691_1280.png" width="300" height="200" />
        <img src="../images/entrepreneur-696959_1920.jpg" width="300" height="200"/>
        <img src="../images/thumb-2480775_1920.jpg" width="300" height="200"/>
        <img src="../images/board-2434016_1920.jpg" width="300" height="200"/>
    </div>
</div>
</body>
</html>